body{
	margin: 100px auto;
	background-color: #92C8FD;
	color:white;
	text-align: center;
}

input{
	border-radius: 8px;
	outline: none;
	max-width:400px;
	height: 200px;
	width: 60%;
  line-height:3em;

}
label{
	text-align: left;
	font-size: 20px;
	margin-left: 0px;
}
h1{
	font-size: 100px;
	color: white;
	margin-bottom: 50px;
font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
button{
	width:100px;
	color:black;
	font-size:20px;
	font-weight: bold;
}
